

.custom-dialog-class .form-container  form{
  display: flex;
  flex-direction: column;
}


.custom-dialog-class .actions {
  display: flex;
  justify-content: flex-end;
}
.custom-dialog-class .actions button {
  margin: 0 16px;
}
